/* add css for index.html */

#user-input {
    align-items: center;
    justify-content: center;
    display: flex;    
    width: 100%;
}

#stat-display {
    justify-content: space-evenly;
    display: flex;
    width: 100%;
}

.input-button {
    height: 300px;
    width: 25%;
    margin: 30px;
}

#game-result-display {
    z-index: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    height: 10%;
    width: 100%;
    pointer-events: none;
    opacity: 75%;
}

.you-won {
    font-size: 60px;
    color: green;
}

.you-lose {
    font-size: 60px;
    color: red;
}

.you-tied {
    font-size: 60px;
    color: yellow;
}